POSTGRES_DB=Siga-todo-cloud-native-Flow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/Siga-todo-cloud-native-Flow
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
BACKEND_JAVA_OPTS=

BACKEND_PORT=8081
FRONTEND_PORT=4200
